autopep8==2.0.4
cmake-format==0.6.13
cmakelang==0.6.13
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
grpcio==1.59.3
grpcio-tools==1.59.3
imageio==2.34.0
importlib-metadata==6.8.0
importlib_resources==6.1.2
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
platformdirs==3.8.1
protobuf==4.25.1
pycodestyle==2.11.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pyzmq==25.1.1
six==1.16.0
tomli==2.0.1
yapf==0.40.1
zipp==3.16.1
zmq==0.0.0
